<div class="wrapper pt-4">

  <div class="barre_boutonS">
    <div class="barre">
      <%= form_tag spots_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a spot"
    %>
    </div>
    <div class="boutonS">
      <%= submit_tag "Search", class: "btn btn-light bton" %>
      <% end %>
    </div>
  </div>

 <h1> All spots (<%= @spots.length %>)</h1>
  <div class="position">
    <div class="cards">
      <% @spots.each do |spot| %>
        <%= link_to spot_path(spot) do %>
        <div class="card-trip">
         <%= cl_image_tag spot.photo%>
          <div class="card-trip-infos">
            <div>
              <h2><%= spot.description %></h2>
              <p><%= spot.city %></p>
            </div>
            <h2 class="card-trip-pricing"><%= spot.price %> $/H</h2>
           <!--  <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> -->
            <%= cl_image_tag spot.user.avatar, class: "card-trip-user avatar-bordered"%>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
    <div
      id="map"
      style="width: 100%;
      height: 600px;
      border-radius: 5px;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>


