<div class="container content-for-nav-and-foot">
  <h1>My spots (<%= @myspots.length %>)</h1>

    <% @myspots.each do |spot| %>
      <%= link_to spot_path(spot) do %>
        <div class="card-product">

          <%= cl_image_tag spot.photo, class: "card-product-infos"%>
            <div class="card-product-infos">
              <h2><%=  spot.description %></h2>
              <p>
                Number of reservations :
                <% l = spot.reservations.select { |r| r.date > DateTime.now }  %>
                <%= l.length %>
              </p>

            </div>
        </div>


      <% end %>


    <% end %>



</div>
