<div class="container content-for-nav-and-foot">




  <% if @myspots.length > 0 %>
    <h1>My spots (<%= @myspots.length %>)</h1>

      <% @myspots.each do |spot| %>
        <%= link_to spot_path(spot) do %>
          <div class="card-product">

            <%= cl_image_tag spot.photo, class: "card-product-infos"%>
              <div class="card-product-infos">
                <h2><%=  spot.description %></h2>
                <% if spot.reservations.where(status: "pending").any? %>
                  <p>
                    Reservation to confirm:
                    <ul>
                    <% spot.reservations.where(status: "pending").each do |reservation| %>
                        <li><%= link_to reservation.date.strftime('%A %e %B, at %l:%M'), reservation_path(reservation) %>
                          <button type="button" class="btn btn-ghost">
                            <%= link_to "Confirm", changestatus_reservation_path(reservation, :status => 'accepted'), method: :POST%>
                          </button>
                          <button type="button" class="btn btn-ghost">
                            <%= link_to "Refuse", changestatus_reservation_path(reservation, :status => 'denied'), method: :POST %>
                          </button>

                        </li>
                    <% end %>
                    </ul>
                  </p>
                  <% end %>
              </div>
          </div>


        <% end %>


      <% end %>
    <% else %>
      <h1>Sorry, you don't have any spot</h1>
      <%= link_to "Add a spot", new_spot_path %>

    <% end %>

</div>
