<h1> </h1>

<div class="container">
  <div class="little_navbar">
    <h1> <%= @spot.description %> </h1>
    <p> <%= @spot.address %> </p>
    <p> <%= @spot.city %> </p>
  </div>

  <button type="button" class="btn btn-primary">Book a spot</button>


  <input type="date">

    <% if current_user == @spot.user %>
      <button type="button" class="btn btn-info"> <%= link_to "Edit", edit_spot_path(@spot) %> </button>
      <button type="button" class="btn btn-info"> <%= link_to "Delete", spot_path(@spot),
      method: :delete,
      data: { confirm: "Are you sure?" } %> </button>
    <% end %>

</div>
