<div class="container content-for-nav-and-foot">
  <h1>My reservations (<%= @reservations.length %>)</h1>

    <% @reservations.each do |reservation| %>

      <%= link_to reservation_path(reservation)  do%>
        <div class="card-product">

          <%= cl_image_tag reservation.spot.photo, class: "card-product-infos"%>
            <div class="card-product-infos">
            <h4> <%= reservation.spot.description %> (<%= reservation.spot.city %>)</h4>

            <h2><%=  reservation.date.strftime('%A %e %B, at %l:%M') %></h2>

            </div>
        </div>

      <% end %>



    <% end %>



</div>
