<div class="container content-for-nav-and-foot">

  <h1><strong> Confirmed: <%= @reservation.spot.description %></strong></h1>
  <h2>Date: <%= @reservation.date.strftime('%A %e %B, at %l:%M') %></h2>
  <h4>🕘 In : <%= distance_of_time_in_words(@reservation.date, DateTime.now) %></h4>
  <br>
  <p>Owner : <%= cl_image_tag @reservation.spot.user.avatar, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %></p>
  <button type="button" class="btn"> <%= link_to "Cancel", reservation_path(@reservation),
  method: :delete,
  data: { confirm: "Are you sure?" } %> </button>
  <br>
  <div class = "photo-reservation">
  <%= cl_image_tag @reservation.spot.photo %>
</div>
</div>
